<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="League.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <League.Properties.Settings>
      <setting name="top0" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="top1" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="top2" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="top3" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="top4" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ban0" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ban1" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ban2" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="jg0" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="jg1" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="jg2" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="jg3" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="jg4" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="mid0" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="mid1" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="mid2" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="mid3" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="mid4" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="adc0" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="adc1" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="adc2" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="adc3" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="adc4" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="sup0" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="sup1" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="sup2" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="sup3" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="sup4" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="curRole" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="general0" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="general1" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="general2" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="general3" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="general4" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="topRunes0" serializeAs="String">
        <value />
      </setting>
      <setting name="topRunes1" serializeAs="String">
        <value />
      </setting>
      <setting name="topRunes2" serializeAs="String">
        <value />
      </setting>
      <setting name="topRunes3" serializeAs="String">
        <value />
      </setting>
      <setting name="topRunes4" serializeAs="String">
        <value />
      </setting>
      <setting name="jgRunes0" serializeAs="String">
        <value />
      </setting>
      <setting name="jgRunes1" serializeAs="String">
        <value />
      </setting>
      <setting name="jgRunes2" serializeAs="String">
        <value />
      </setting>
      <setting name="jgRunes3" serializeAs="String">
        <value />
      </setting>
      <setting name="jgRunes4" serializeAs="String">
        <value />
      </setting>
      <setting name="midRunes0" serializeAs="String">
        <value />
      </setting>
      <setting name="midRunes1" serializeAs="String">
        <value />
      </setting>
      <setting name="midRunes2" serializeAs="String">
        <value />
      </setting>
      <setting name="midRunes3" serializeAs="String">
        <value />
      </setting>
      <setting name="midRunes4" serializeAs="String">
        <value />
      </setting>
      <setting name="adcRunes0" serializeAs="String">
        <value />
      </setting>
      <setting name="adcRunes1" serializeAs="String">
        <value />
      </setting>
      <setting name="adcRunes2" serializeAs="String">
        <value />
      </setting>
      <setting name="adcRunes3" serializeAs="String">
        <value />
      </setting>
      <setting name="adcRunes4" serializeAs="String">
        <value />
      </setting>
      <setting name="supRunes0" serializeAs="String">
        <value />
      </setting>
      <setting name="supRunes1" serializeAs="String">
        <value />
      </setting>
      <setting name="supRunes2" serializeAs="String">
        <value />
      </setting>
      <setting name="supRunes3" serializeAs="String">
        <value />
      </setting>
      <setting name="supRunes4" serializeAs="String">
        <value />
      </setting>
      <setting name="generalRunes0" serializeAs="String">
        <value />
      </setting>
      <setting name="generalRunes1" serializeAs="String">
        <value />
      </setting>
      <setting name="generalRunes2" serializeAs="String">
        <value />
      </setting>
      <setting name="generalRunes3" serializeAs="String">
        <value />
      </setting>
      <setting name="generalRunes4" serializeAs="String">
        <value />
      </setting>
    </League.Properties.Settings>
  </userSettings>
</configuration>